@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.container-navigation {
  display: flex;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 19px 0 20px;
  margin: 0 17px;
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #756257;
  right: 0;
  bottom: -1px;
  left: 0;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
}

.page-header-logo {
  display: block;
  margin-bottom: -5px;
  position: relative;
  z-index: 1;
}

.page-header-logo:hover {
  opacity: 0.8;
}

.page-header-logo:focus {
  opacity: 0.8;
}

.page-header-logo:active {
  opacity: 0.5;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-link-user {
  display: block;
  min-width: 18px;
  min-height: 18px;
  padding: 0 12px 0 13px;
  position: relative;
}

.navigation-item-user:nth-child(2) {
  margin-right: 20px;
}

.navigation-icon {
  color: #000000;
  width: 18px;
  height: 18px;
}

.navigation-link:hover .navigation-icon {
  color: #756157;
}

.navigation-link:focus .navigation-icon {
  color: #756157;
}

.navigation-link:active .navigation-icon {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-item-user:nth-child(2) .navigation-link-user::after {
  content: "12";
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
  padding: 3px 0 4px;
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 25px;
}

.navigation-link-want {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 9px 15px;
  width: 160px;
  margin: 0;
}

.navigation-link-want:hover {
  color: #ffffff;
  background-color: #615048;
}

.navigation-link-want:focus {
  color: #ffffff;
  background-color: #615048;
}

.navigation-link-want:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.navigation-link-want:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-main-container {
  background-image: url("../images/background/background-index-decoration.svg"),
    url("../images/background/background-index.jpg");
  background-position: bottom, center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #000000;
  padding: 51px 0 82px;
}

.page-main-image {
  display: block;
  margin: 0 auto;
}

.advantages-container {
  padding: 63px 0 90px;
}

.advantages-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 630px;
  margin: 0 auto 31px;
  padding: 0;
}

.advantages-text {
  text-align: center;
  color: #333333;
  margin: 0 auto;
  width: 730px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-text-item {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 400px;
  margin: 0 auto;
  padding: 92px 85px;
}

.advantages-item-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto 30px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
}

.advantages-value-item {
  width: 400px;
  margin: 0 auto;
}

.advantages-container-first {
  margin: 0 auto;
  padding: 182px 85px 81px;
}

.advantages-container-second {
  margin: 0 auto;
  padding: 103px 84px 102px;
}

.advantages-value-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-value-icon {
  width: 75px;
}

.advantages-value-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.advantages-icon-home {
  position: relative;
}

.advantages-icon-food {
  position: relative;
}

.advantages-icon-souvenir {
  position: relative;
}

.advantages-icon-home::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../images/icon/icon-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  position: absolute;
  top: -101px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.advantages-icon-food::before {
  content: "";
  width: 74px;
  height: 70px;
  background-image: url("../images/icon/icon-food.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  position: absolute;
  top: -100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.advantages-icon-souvenir::before {
  content: "";
  width: 64px;
  height: 76px;
  background-image: url("../images/icon/icon-souvenir.svg");
  background-size: 64px 76px;
  background-repeat: no-repeat;
  position: absolute;
  top: -103px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.advantages-value-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 auto;
}

.advantages-value-second {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-value-third {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-hotel {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 91px 0 93px;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.search-hotel-description {
  color: #333333;
  margin: 0 0 55px;
}

.search-hotel-link {
  display: block;
  width: 574px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 0 auto;
  padding: 12px 15px;
}

.search-hotel-link:hover {
  color: #ffffff;
  background-color: #615048;
}

.search-hotel-link:focus {
  color: #ffffff;
  background-color: #615048;
}

.search-hotel-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.search-hotel-link:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.footer-subscribe {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 93px 0;
}

.subscribe-first {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/background-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 29px;
  width: 480px;
}

.field {
  width: 600px;
  margin: 0;
  padding: 20px 22px 19px 22px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.field:active {
  color: #000000;
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.field:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  outline: 3px solid rgba(0, 0, 0, 0.3);
}

/* Правильно ли сделала валидацию или нужно классами (где-то в чате вроде как советовали классами)? */

.field:invalid {
  color: #000000;
  background-color: #F2F2F2;
}

.field:valid {
  color: #000000;
  background-color: #F2F2F2;
}

.button-subscribe {
  font-family: inherit;
  background-color: #82B3D3;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  border: none;
  width: 200px;
}

.button-subscribe:hover {
  color: #ffffff;
  background-color: #68A2CA;
}

.button-subscribe:focus {
  color: #ffffff;
  background-color: #68A2CA;
}

.button-subscribe:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-subscribe:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 200px 5px 194px;
}

.main-inner-container {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/background-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0 0 10px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin: 0 0 40px;
  list-style-type: none;
  padding: 0;
  position: relative;
}

.breadcrumbs-link {
  display: block;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
  min-width: 20px;
  min-height: 12px;
  position: relative;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.6);
  ;
}

.breadcrumbs-link-icon {
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 2px;
}

.breadcrumbs-item::after {
  content: "";
  width: 6px;
  height: 8px;
  background-image: url("../images/icon/icon-broads-arrow.svg");
  background-size: 6px 8px;
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: -1005px;
  margin: 0 auto;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.control {
  position: relative;
  display: flex;
  padding-left: 40px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-lable {
  font-size: 18px;
  line-height: 21px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icon/icon-control-mark.svg");
  background-size: 13px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:disabled + .control-mark {
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

.control-radio:hover .control-mark {
  background-color: #ffffff;
}

.control-radio:focus .control-mark {
  background-color: #ffffff;
  outline: 3px solid #83B3D3;
}

.control-radio:active .control-mark {
  background-color: #ffffff;
}

.range {
  margin-top: 4px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  position: relative;
}

.catalog-filter-label {
  display: flex;
  position: relative;
  padding: 0;
}

.catalog-filter-label:nth-child(1):after {
  content: "";
  width: 48px;
  height: 48px;
  background-image: url("../images/icon/icon-range-line.svg");
  background-size: 48px 60px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 121px;
}

.range-input {
  width: 144px;
  height: 48px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  appearance: textfield;
  padding: 14px 40px 14px 16px;
  outline: none;
}

.range-input-min {
  border: 2px solid #ffffff;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border: 2px solid #ffffff;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-min:hover {
  border: 2px solid rgb(255, 255, 255, 0.6);
  border-radius: 4px 0 0 4px;
}

.range-input-min:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
  border-radius: 4px 0 0 4px;
}

/* 1) При вводе цифр работает и фокус, и :focus:not(:placeholder-shown). Так и должно быть?
  2) Заменила бордер на псевдоэлемент, он немного перекрывает бордер у интупа при ховере,
  особенно у ange-input-max, это норм? И при фокусе совсем некрасиво
 */

.range-input-min:focus:not(:placeholder-shown) {
  background-color: #756257;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
  /*
  box-shadow: none;
  */
}

.range-input-min:disabled {
  background-color: rgb(255, 255, 255, 0.3);
}

/* Почему при ховере и фокусе плейсхолдер "9000" смещается? */

.range-input-max:hover {
  border: 2px solid rgb(255, 255, 255, 0.6);
  border-radius: 0 4px 4px 0;
}

.range-input-max:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
  border-radius: 0 4px 4px 0;
}

.range-input-max:focus:not(:placeholder-shown) {
  background-color: #756257;
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
}

.range-input-max:disabled {
  background-color: rgb(255, 255, 255, 0.3);
}

.range-text {
  color: rgb(255, 255, 255, 0.3);
  position: absolute;
  font-size: 18px;
  line-height: 21px;
}

.range-text-min {
  top: 13px;
  right: 0;
  bottom: 0;
  left: 114px;
}

.range-text-max {
  top: 12px;
  right: 0;
  bottom: 0;
  left: 109px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  background-color: rgb(255, 255, 255, 0.3);
  width: 288px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -7px;
}

.button-filter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  justify-content: flex-end;
}

.button-apply {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  padding: 14px 15px;
  border-radius: 4px;
  border: none;
  width: 160px;
  margin-bottom: 20px;
}

.button-apply:hover {
  color: #ffffff;
  background-color: #68A2CA;
}

.button-apply:focus {
  color: #ffffff;
  background-color: #68A2CA;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-apply:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
  width: 100px;
  border: none;
  padding: 0;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  padding: 4px 0 5px;
}

.button-reset:active {
  opacity: 0.3;
}

.button-reset:disabled {
  opacity: 0.1;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 55px 0 52px 2px;
}

.search-results {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0 190px 0 0;
  width: 338px;
}

.sorting-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 auto;
  width: 160px;
}

.sorting-item:nth-child(1) .button {
  background-image: url('../images/icon/icon-table.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.sorting-item:nth-child(2) .button {
  background-image: url('../images/icon/icon-slideshow.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.sorting-item:nth-child(3) .button {
  background-image: url('../images/icon/icon-list.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.search-container .button {
  width: 48px;
  height: 48px;
}

.sorting-button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-button:hover {
  border-color: #000000;
}

.sorting-button:focus {
  border-color: #82B3D3;
}

.sorting-button:active {
  border-color: #000000;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 290px;
  height: 48px;
  padding: 0 40px 0 20px;
  margin-top: -3px;
  appearance: none;
  background-image: url('../images/icon/icon-sorting-arrow.svg');
  background-repeat: no-repeat;
  background-position: 94% 50%;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  opacity: 0.3;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  list-style-type: none;
  margin: 0 0 66px;
  padding: 0;
}

.product-card-link {
  color: inherit;
  text-decoration: none;
}

.product-card-star {
  display: block;
  grid-column: 1 / 2;
  justify-self: start;
  margin: 0;
  padding: 0;
  height: 17px;
  position: absolute;
  background-image: url('../images/icon/icon-star.svg');
  background-repeat: space;
  background-position: center;
  top: 391px;
  right: 0;
  bottom: 0;
  left: 0;
}

.product-card-star-four {
  width: 89px;
}

.product-card-star-three {
  width: 65px;
}

.product-card-star-two {
  width: 41px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.product-card-title:hover {
  color: #756157;
}

.product-card-title:focus {
  color: #756157;
}

.product-card-title:active {
  color: rgba(117, 97, 87, 0.3);
}

.product-card-price {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.product-card-price dd {
  margin: 0;
}

.product-card-button {
  grid-column: 1 / 2;
  justify-self: start;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border-radius: 4px;
  padding: 9px 15px 8px;
  width: 140px;
}

.product-card-button:hover {
  color: #ffffff;
  background-color: #615048;
}

.product-card-button:focus {
  color: #ffffff;
  background-color: #615048;
}

.product-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.product-card-button:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.button-favorites {
  grid-column: 2 / 3;
  justify-self: end;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 9px 15px 8px;
  border: none;
  font-family: inherit;
  width: 140px;
}

.button-favorites:hover {
  color: #ffffff;
  background-color: #68A2CA;
}

.button-favorites:focus {
  color: #ffffff;
  background-color: #68A2CA;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-favorites:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.button-favorites-choose {
  background-color: #7DB54F;
}

.button-favorites-choose:hover {
  color: #ffffff;
  background-color: #6C9E42;
}

.button-favorites-choose:focus {
  color: #ffffff;
  background-color: #6C9E42;
}

.button-favorites-choose:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.button-favorites-choose:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.product-card {
  display: grid;
  row-gap: 16px;
  grid-template-columns: 150px 150px;
  padding: 20px 17px 20px 23px;
  position: relative;
}

.product-card-image {
  object-fit: contain;
  display: block;
}

.product-card-image:hover {
  opacity: 0.8;
}

.product-card-image-link {
  grid-column: 1 / 3;
}

.product-card-title-link {
  grid-column: 1 / 3;
}

.product-card-score {
  grid-column: 2 / 3;
  justify-self: end;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px 8px 23px;
  width: 140px;
}

.catalog-filter {
  display: flex;
  margin: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.filter-group-container {
  display: flex;
}

.catalog-filter-group:nth-child(2) {
  margin-left: 70px;
}

.catalog-filter-group:nth-child(3) {
  margin-left: 177px;
}

.catalog-filter-group:nth-child(4) {
  margin-left: 70px;
}

.pagination-container {
  display: flex;
  margin: 0;
  padding: 30px 0 25px;
  align-items: center;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 60px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 9px;
}

/* Не смогла сделать так, чтобы все цифры стояли ровно, либо "1" едет, либо "10".
Также и с отступами */

.pagination-link {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 11px 19px 12px 18px;
}

.pagination-link:hover {
  color: #ffffff;
  background-color: #68A2CA;
}

.pagination-link:focus {
  color: #ffffff;
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.number-hotels-container {
  display: flex;
  width: 386px;
  margin-left: auto;
  padding: 0;
  align-items: center;
}

.select-control-second {
  font-weight: 400;
  width: 160px;
  height: 49px;
  padding: 0 40px 0 17px;
  background-position: 87% 50%;
}

.number-hotels {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 175px;
  margin: 0 51px 0 0;
  padding: 0;
}

.subscribe-second {
  background-color: #ffffff;
}

/* На звонке решили здесь сделать отступ 45px, но при правках увидела, что тогда на моем браузере
не хватает высоты блока subscribe-first для совпадения с Perfect Pixel */

.page-footer-description {
  margin: 0 auto;
  margin-bottom: 46px;
  width: 480px;
}

.subscribe-form {
  display: flex;
}

.footer-contacts {
  display: flex;
  padding: 40px 0 30px;
}

.footer-title-second {
  color: #000000;
}

.footer-description-second {
  color: #333333;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 150px;
}

.footer-social-item {
  margin-bottom: 5px;
}

.footer-social-button {
  position: relative;
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 48px;
  height: 40px;
}

.footer-social-icon {
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  left: -2px;
  margin: auto;
  color: #83B3D3;
}

.footer-htmlacademy-link {
  width: 115px;
  padding-top: 1px;
}

.logo-htmlacademy {
  display: block;
  color: #000000;
}

.footer-social-button:hover .footer-social-icon {
  color: #68A2CA;
}

.footer-social-button:focus .footer-social-icon {
  color: #68A2CA;
}

.footer-social-button:active .footer-social-icon {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-htmlacademy-link:hover .logo-htmlacademy {
  color: #756157;
}

.footer-htmlacademy-link:focus .logo-htmlacademy {
  color: #756157;
}

.footer-htmlacademy-link:active .logo-htmlacademy {
  color: rgba(117, 97, 87, 0.3);
}

/* Модальное окно */

.modal-container {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

/* Раскомментить при сдаче

.modal-container-close {
  display: none;
}
*/

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 715px;
}

.modal-button-close {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icon/icon-button-close.svg");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  /* Здесь при помощи мэрджинов поставить кнопку не место */
}

.modal-title {
  margin: 0 0 63px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
