@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

/* Pages */

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link-want {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-main-container {
  background-image: url("../images/background/background-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
}

.page-main-image {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px;
}

.advantages-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin: 0;
  padding: 69px 290px 25px;
}

.advantages-text {
  text-align: center;
  color: #333333;
  margin: 0;
  /* Почему-то при указании ширины и(или) отступов текст блока не вмещается и переносится на вторую строку :(
  Хотя все параметры шрифта и размеры отступов соответствуют макету:
  width: 653px;
  padding: 0 274px 90px 273px;
  Пробовала добавлять ширину всему блоку advantages, не помогло
  */

}

.advantages-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.advantages-text-item {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 400px;
}

.advantages-item-container {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-value-item {
  width: 400px;
}

.advantages-value-list {
  list-style-type: none;
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-value-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-value-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-value-second {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-value-third {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-hotel {
  text-align: center;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 91px 452px 29px 451px;
}

.search-hotel-description {
  color: #333333;
  margin: 0;
  padding: 0 304px 55px;
}

.search-hotel-link {
  display: block;
  width: 574px;
  margin: 0 313px 93px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-subscribe {
  text-align: center;
  width: 1200px;
  height: 411px;
}

.subscribe-first {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 404px;
  margin: 0;
  padding: 94px 398px 29px;
}

.button-subscribe {
  background-color: #82B3D3;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.main-inner-container {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/background-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
  margin: 0;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 40px;
}

.breadcrumbs-link {
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  text-transform: capitalize;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
}

.search-conteiner {
  display: flex;
  margin: 50px 71px 57px 73px;
  padding: 0;
}

.search-results {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 190px;
  width: 338px;
}

.sorting-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 160px;
}

/* Временный стиль для ссылок сортировки */

.sorting-item a {
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 287px;
  height: 48px;
}

.product-list {
  list-style-type: none;
  /* Пока скрыла, так как в этом д/з нужна была только сетка крупных блоков
  display: flex;
  margin: 0;
  padding: 0;
  */
  width: 1056px;
}

.product-card-link {
  color: inherit;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.button-favorites-choose {
  background-color: #7DB54F;
}

.product-card-score {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.catalog-filter {
  display: flex;
  margin: 0;
}

.catalog-filter-list {
  list-style-type: none;
}

.filter-group-conteiner {
  width: 514px;
}

.filter-group-conteiner {
  display: flex;

}

.button-conteiner {
  margin-left: auto;
  width: 519px;
}

.pagination-container {
  display: flex;
  width: 1056px;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  width: 370px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 55px;
}

.pagination-link {
  color: inherit;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.number-hotels-container {
  display: flex;
  width: 386px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.select-control-second {
  width: 160px;
  padding: 14px 43px 13px 19px;
}

.number-hotels {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 175px;
  margin: 0;
  padding: 0;
}

.subscribe-second {
  background-color: #ffffff;
}

.page-footer-description {
  width: 475px;
  margin: 0;
  padding: 0 362px 46px 363px;
}

.subscribe-form {
  padding: 0 200px 94px;
}

.footer-contacts {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-title-second {
  color: #000000;
}

.footer-description-second {
  color: #333333;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 130px;
}

.footer-contacts-phone {
  width: 331px;
  margin: 0 auto;
}

.footer-htmlacademy-link {
  width: 115px;
  margin-right: 72px;
  margin-left: 52px;
}
